/* Body */
  body {
    font-family: "Montserrat", sans-serif;
    margin: auto;
    background-color: var(--primary-dark);
    height: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }


/* Content */
  #content {
    z-index: -1;
    position: absolute;
    max-width: var(--max-width);
    margin: auto;
    margin-top: 60px;
    padding-top: 50px;
    background-color: var(--primary-dark);
  }
 

/* Banner & Tabs */
  #banner {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    max-width: 100%;
    margin: auto;
    height: 60px;
    overflow: hidden;
    background-color: var(--secondary-light);
    opacity: 80%;
    transition: opacity .25s ease-in-out;
  }
  #banner:hover{
    opacity: 100%;
  }
  #banner-frame{
    background-color: inherit;
    max-width: var(--max-width);
    margin: auto;
    height: 100%;
    overflow: hidden;
    display:flex;
    align-items: center;
    justify-content: center;
  }
  #banner-content {
    background-color: inherit;
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  #banner-title {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px 16px;
    transition: 0.3s;
  }
  .tab {
    font-size: 12pt;
    background-color: inherit;
    height: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    opacity: 50%;
  }
  .tab:hover {
    background-color: var(--accent);
    opacity: 100%;
  }
  .active {
    background-color: var(--complement-light);
  }
  

/* Intro (with corners) */
  #intro {
    position: relative;
    height: auto;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-dark);
    color: var(--primary-light);
    animation: intro-animate 1.25s ease;
  }
  #intro:before, #intro>:first-child:before {
    position:absolute;
    width:80px; height: 80px;
    border-color:var(--complement-light);
    border-style:solid;
    content: ' ';
  }
  #intro:before {top:0;left:0;border-width: 10px 0 0 10px}
  #intro>:first-child:before {bottom:0;right:0;border-width: 0 10px 10px 0}
  @keyframes intro-animate {
    0% {
      transform: scale(0%);
    }
  }
  #intro-content {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 48px;
    width: 90%;
    height: auto;
  }


/* About */
  #about {
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: inherit;
  }
  #about-content {
    display: flex;
    font-size: 14pt;
  }
  #about-header {
    text-align: start;
    font-size: 24pt;
    text-transform: none;
  }


/* Skills */
  #skills {
    /* background-image: url("../images/leather-tile.jpg"); */
    background-size: 100%;
    height: auto;
    /* box-shadow: 0 0 40px 40px var(--primary-dark) inset; */

  }
  #skills-container {
    width: 100%;
  }
  .skill {
    height: auto;
    font-size: 20pt;
    padding: 10px;
    margin-top: 20px;
    opacity: 0;
    animation: fadeIn ease-in 1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  .skill::before{
    background-image: url('/images/checkmark.png');
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;    
    margin-right: 10px;
    content:"";
  }

  /* Experience */
  #experience {
    height: auto;
  }
  #experience-container {
    width: 100%;
  }
  .experience-item {
    background-color: var(--secondary-dark);
    height: auto;
    font-size: 18pt;
    padding: 20px;
    margin-top: 20px;
    opacity: 0;
    animation: fadeIn ease-in 1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .exp-attribute {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 5px;
  }
  .exp-attribute::before{
    display: inline-block;
    margin-right: 10px;
    vertical-align: -20%;
  }
  .exp-title::before{
    content: url('/images/work.svg');
  }
  .exp-time::before{
    content: url('/images/date_range.svg');
  }
  .exp-employer::before{
    content: url('/images/person.svg');
  }

