/* Spacers & Containers */
.spacer{
  flex: auto;
}
.vertical-divider{
  background-color: var(--dark-gray);
  width: 1px;
  height: 70%;
  margin-left: 20px;
  margin-right: 20px;
}
.gradient-divider {
  background-image: var(--complement-gradient);
  background-size: 300% 100%;
  width: 70%;
  margin: auto;
  animation: moving-gradient 20s infinite linear;
  height: 5px;
}
.grid-container {
  display: grid;
  justify-content:space-between;
  align-content: start;
}
.grid-container.col3 {
  grid-template-columns: auto auto auto;
}
.grid-container.col2 {
  grid-template-columns: 45% 45%;
}

/* Cards */
.card {
  box-shadow: 0 4px 8px 0 var(--black);
  transition: 0.3s;
}
.card:hover {
  box-shadow: 0 10px 20px 0 var(--black);
  transform: scale(1.05);
}

/* Animations */
@keyframes moving-gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}


/* Sections */
.section {
  position: relative;
  height: auto;
  width: 80%;
  margin: auto;

  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: inherit;
  color: var(--primary-light);
}
.section-header {
  color: var(--accent);
  font-size: 32pt;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}
.section-subtitle {
  color: var(--primary-light);
  font-size: 18pt;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 40px;
}
.section-divider {
  margin-top: 60px;
  margin-bottom: 60px;
}
