/* Intro (with corners) */
  #intro {
    position: relative;
    height: auto;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-dark);
    color: var(--primary-light);
    animation: grow 1.25s ease;
  }
  #intro:before, #intro>:first-child:before {
    position: absolute;
    width: 80px; height: 80px;
    border-color:var(--complement-light);
    border-style: solid;
    content: "";
  }
  #intro:before {top:0;left:0;border-width: 10px 0 0 10px}
  #intro>:first-child:before {bottom:0;right:0;border-width: 0 10px 10px 0}
  #intro-content {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 48px;
    width: 90%;
    height: auto;
  }


/* About */
  #about-section {
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: inherit;
    margin-top: 50px;
  }
  #about-frame {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  #about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 14pt;
  }
  #about-header {
    text-align: start;
    font-size: 24pt;
    text-transform: none;
  }
  #about-portrait {
    width: 200px;
    height: 250px;
    margin-left: 50px;
    background-color: var(--accent);
  }
  #about-button {
    margin-top: 25px;
    background-color: transparent;
    border: 2px solid var(--accent);
  }
  #about-button:hover {
    background-color: var(--accent);
    color: var(--primary-dark);
    transition: background-color color .25s ease-in-out;
  }

/* Skills */
  #skills-section {
    /* background-image: url("../images/leather-tile.jpg"); */
    background-size: 100%;
    height: auto;
    /* box-shadow: 0 0 40px 40px var(--primary-dark) inset; */

  }
  #skills-container {
    width: 100%;
  }
  .skill {
    height: auto;
    font-size: 20pt;
    padding: 10px;
    margin-top: 20px;
    opacity: 0;
    animation: fade-in ease-in 1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  .skill::before{
    background-image: url('/images/checkmark.png');
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;    
    margin-right: 10px;
    content:"";
  }

  
  /* Experience */
  #experience-container {
    width: 100%;
  }
  .experience-item {
    background-color: var(--secondary-dark);
    height: auto;
    font-size: 13pt;
    padding: 20px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    opacity: 0;
    animation: fade-in ease-in 1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: pointer;
  }
  .exp-attribute {
    text-align: center;
  }
  .exp-attribute::before{
    display: inline-block;
    margin-right: 10px;
    vertical-align: -30%;
  }
  .exp-title {
    font-weight: bold;
    font-size: 16pt;
    font-family: 'Courier New', Courier, monospace;
  }
  .exp-title::before{
    content: url('/images/icons/person.svg');
  }
  .exp-time::before{
    content: url('/images/icons/date_range.svg');
  }
  .exp-employer::before{
    content: url('/images/icons/work.svg');
  }


  /* Projects */
  #projects-container {
    width: 100%;
  }
  .project-item {
    background-color: var(--secondary-dark);
    height: auto;
    font-size: 12pt;
    padding: 20px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    opacity: 0;
    animation: fade-in ease-in 1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: pointer;
  }
  .project-title {
    font-weight: bold;
    font-size: 18pt;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 10px;
  }
  .project-description {
    text-align: center;
    padding-bottom: 5px;
  }
  .project-image {
    position: relative;
    height: 100px;
    width: 100px;
    margin: auto;
    margin-right: 15px;
  }
  .project-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
  }


/* Contact */
  #contact-content {
    background-color: var(--secondary-dark);
    padding: 20px;
  }
  #contact-frame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .contact-label {
    display: block;
    margin-top: 15px;
    margin-bottom: 3px;
  }
  .contact-input {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14pt;
    padding: 20px;
    padding-inline: 10px;
    display: block;
    width: 100%;
    height: 20px;
    background-color: var(--white);
    border-color: transparent;
    border-radius: 2px;
  }
  #contact-msg {
    resize: vertical;
    min-height: 60px;
    padding: 10px;
    height: 150px;
  }
  #contact-portrait {
    width: 210px;
    height: 260px;
  }
  #contact-portrait-frame {
    background-color: var(--secondary-dark);
    border-radius: 10px;
    margin-left: 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #contact-portrait-caption {
    margin: auto;
    margin-top: 6px;
    font-size: 11pt;
    color: var(--primary-light)
  }
