/* Banner */
#banner {
  opacity: 100%;
}

#projects-container{
  width: 100%;
  height: auto;
  margin-top: 20px;
}

/* Items */
.project-item {
    background-color: var(--secondary-light);
    color: var(--primary-dark);
    height: auto;
    font-size: 12pt;
    margin-top: 25px;
    padding: 25px;
    opacity: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    animation: fade-in ease-in 1;
    animation-duration: 1s;
    animation-fill-mode: forwards; 
  }
  .proj-metadata {
    width: 125px;
    height: 100%;
    margin-right: 30px;
  }
  .proj-content {
    width: 100%;
    height: 100%;
  }
  .proj-title {
    font-weight: bold;
    font-size: 16pt;
    margin-bottom: 5px;
  }
  .proj-links-container{
    display:flex;
    flex-direction: column;
  }
  .proj-link {
    font-size: 12pt;
    color: var(--primary-dark);
  }
  .proj-link::before{
    display: inline-flex;
    margin-right: 5px;
    vertical-align: -35%;
    content: url('/images/icons/link.svg');
  }
  .proj-course{
    font-size: 12pt;
    color: var(--primary-dark);
  }
  .proj-course::before {
    display: inline-flex;
    margin-right: 5px;
    vertical-align: -35%;
    content: url('/images/icons/school.svg')

  }
  .proj-description {
    font-size: 14pt;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
  }
  .proj-attribute::before{
    display: inline-block;
    margin-right: 10px;
    vertical-align: -25%;
  }
  /* .proj-description::before{
    content: "Description:";
    font-weight: 600;
    margin-bottom: 5px;
  } */
  .proj-image {
    width: 125px;
    height: 125px;
    object-fit: cover;
  }
  .proj-skills-container {
    margin-top: 20px;
  }
  /* .proj-course::before{
    content: url('/images/icons/school.svg');
  } */
  .github-icon {
    width: 18px;
    margin-inline: 10px;
    cursor: pointer;
  }
