/* Banner */
#banner {
  opacity: 100%;
}

#experience-container{
  width: 100%;
  height: auto;
  margin-top: 20px;
}

/* Items */
  .experience-item {
    background-color: var(--secondary-light);
    color: var(--primary-dark);
    height: auto;
    font-size: 12pt;
    margin-top: 25px;
    padding: 20px;
    opacity: 0;
    display: flex;
    flex-direction: row;
    animation: fade-in ease-in 1;
    animation-duration: 1s;
    animation-fill-mode: forwards; 
  }
  .experience-item.dark {
    background-color: var(--secondary-dark);
  }
  .experience-item.light {
    background-color: var(--secondary-light);
  }
  .exp-content {
    width: 100%;
  }
  .exp-content-divider {
    height: auto;
    margin-left: 0px;
  }
  .exp-sidebar {
    width: 280px;
    display: flex;
    flex-direction: column;
  }
  .exp-attribute::before{
    display: inline-block;
    margin-right: 10px;
    vertical-align: -25%;
  }
  .exp-title {
    font-weight: bold;
    font-size: 14pt;
  }
  .exp-title::before{
    content: url('/images/icons/person.svg');
  }
  .exp-time{
    font-size: 14pt;
  }
  .exp-employer{
    color: var(--primary-dark);
  }
  .exp-employer::before{
    content: url('/images/icons/work.svg');
  }
  .exp-location::before{
    content: url('/images/icons/location.svg');
  }
  .exp-links-container{
    display:flex;
    flex-direction: column;
  }
  .exp-link {
    font-size: 12pt;
    color: var(--primary-dark);
  }
  .exp-link::before{
    content: url('/images/icons/link.svg');
  }
  .exp-description {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
  }
  .exp-description::before{
    content: "Description:";
    font-weight: 600;
    margin-bottom: 5px;
  }
  .exp-image {
    max-width: 100%;
    padding: 40px;
    padding-left: 20px;
  }
  .exp-skills-container {
    margin-top: 20px;
  }
